/* General Styles */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f5f9;
}
.login-container {
    width: 800px;
    height: 500px;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
}

/* Left Section */
.left-section {
    background: linear-gradient(135deg, #66c2ff, #66a2ff);
    flex: 1;
    padding: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}
.left-section p {
    font-size: 16px;
    margin-bottom: 20px;
}
.left-section img {
    width: 200px;
    height: auto;
}

/* Right Section */
.right-section {
    flex: 1;
    padding: 40px;
    background-color: #ffffff;
}
.right-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
.social-login {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.google {
    background-color: #4285F4;
    color: #fff;
}
.linkedin {
    background-color: #0077B5;
    color: #fff;
}
.divider {
    text-align: center;
    margin: 15px 0;
    color: #888;
}
.input-container {
    position: relative;
    margin-bottom: 15px;
}
.input-container input {
    width: 100%;
    padding: 12px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}
.icon {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #888;
    font-size: 18px;
}
.forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    text-decoration: none;
}
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #28c76f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.signup-link a {
    color: #28c76f;
    text-decoration: none;
}
.toggle-password {
    position:absolute ;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
}
.small-text{
    font-size: 12px;
}




